<div class="col-md-4" *ngFor="let product of products">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{product.name}}
        <button class="btn btn-danger" (click)="deleteProduct(product._id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="product.imageURL">
      <div class="card-body">
        <p>{{product.description}}</p>
        <p>Created At {{product.createdAt | date: 'yyyy-MM-dd'}}</p>
        <a class="btn btn-info btn-block" [routerLink]="['/product/edit',product._id]">
          EDIT GAME
        </a>
      </div>
    </div>
  </div>